<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Scenarios - StopLight</title>
  <meta name="description" content="The perfect OAS (Swagger) companion. Supercharge any OAS file with mocking, transformations, validations, and more.">
  <meta name="p:domain_verify" content="6557723f1c1fca7caf9217123d1ff583"/>

  <meta property="og:url" content="https://stoplight.io" />
  <meta property="og:site_name" content="StopLight" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Scenarios" />
  <meta property="og:description" content="The perfect OAS (Swagger) companion. Supercharge any OAS file with mocking, transformations, validations, and more." />
  <meta property="og:image" content="https://stoplight.io/assets/img/prism.png" />
  <meta property="fb:app_id" content="580327892114787" />

  <link rel="stylesheet" href="/assets/css/styles.css?v=1477928920"/>
  <link rel="canonical" href="https://stoplight.io/platform/scenarios/">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,600italic,400italic' rel='stylesheet' type='text/css'>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>

  <script type="text/javascript" data-untorch-campaign="4290" src="https://untorch.com/js/api.min.js"></script>
</head>


  <body>

    <header class="navbar navbar-flat navbar-light navbar-fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand f ai-c" href="/">
        <div class='f-0'>Stoplight</div>
      </a>
    </div>
    <nav id="navbar" class="navbar-collapse collapse">
      <ul class='nav navbar-nav navbar-right'>
  <li class='nav-dropdown'>
    <a class='dropdown-toggle' id='dropdownMenu1' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
      Platform
      <span class='caret'></span>
    </a>
    <div class='dropdown-block-menu' aria-labelledby='dropdownMenu1'>
      <div class='dropdown-block-menu-inner'>
        <a class='dropdown-block-menu-block design' href='/platform/design'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-puzzle-piece'></i>
          </div>
          API Designer
        </a>
        <a class='dropdown-block-menu-block docs' href='/platform/docs'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-book'></i>
          </div>
          Hosted Docs
        </a>
        <a class='dropdown-block-menu-block scenarios' href='/platform/scenarios'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-flask'></i>
          </div>
          Scenarios
        </a>
        <a class='dropdown-block-menu-block prism' href='/platform/prism'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-code'></i>
          </div>
          Prism
        </a>
        <div class='dropdown-block-menu-caret'>
          <i class='fa fa-caret-up'></i>
        </div>
      </div>
    </div>
  </li>
  <li class='nav-dropdown'>
    <a class='dropdown-toggle' id='dropdownMenu2' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
      Resources
      <span class='caret'></span>
    </a>
    <div class='dropdown-block-menu' aria-labelledby='dropdownMenu1'>
      <div class='dropdown-block-menu-inner'>
        <a class='dropdown-block-menu-block' href='https://help.stoplight.io'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-book'></i>
          </div>
          Read The Docs
        </a>
        <a class='dropdown-block-menu-block' href='https://blog.stoplight.io'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-rss'></i>
          </div>
          Blog
        </a>
        <a class='dropdown-block-menu-block' href='http://status.stoplight.io'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-life-ring'></i>
          </div>
          Status
        </a>
        <a class='dropdown-block-menu-block' href='https://twitter.com/stoplightio'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-twitter'></i>
          </div>
          Twitter
        </a>
        <div class='dropdown-block-menu-caret'>
          <i class='fa fa-caret-up'></i>
        </div>
      </div>
  </li>
  <li>
    <a href='https://app.stoplight.io/pricing' target='_blank'>Pricing</a>
  </li>
  <li>
    <a href='https://app.stoplight.io/login' target='_blank'>Login</a>
  </li>
  <li>
    <a href='https://app.stoplight.io/register' target='_blank'>Register</a>
  </li>
</ul>

    </nav>
  </div>
</header>


    <div id='scenarios' class='page'>
  <div class='page-hero background-scenarios'>
    <div class='container'>
      <div class='page-hero-title'>
        <h1>Stoplight Scenarios</h1>
        <h2>Test, automate, and debug web APIs + AWS Lambda.</h2>
      </div>

      <div class='page-image' style='background-image: url("https://cdn.stoplight.io/stoplightio/scenarios-hero.png")'></div>
    </div>
  </div>

  <a name='beta'></a>

  <div class='callout-bar'>
    <ul>
      <li>HTTP Debug</li>
      <li class='divider'></li>
      <li>Invoke Lambda</li>
      <li class='divider'></li>
      <li>Contract Testing</li>
      <li class='divider'></li>
      <li>Environments</li>
      <li class='divider'></li>
      <li>Multi-Step</li>
      <li class='divider'></li>
      <li>Run From Terminal</li>
    </ul>
  </div>

  <section class='page-section register-beta'>
  <div class='container ta-c'>
    <div class='register-beta-success' v-if='submitted'>
      <h5>Thanks for signing up for Stoplight Scenarios!</h5>

      <h3>Want your choice of a kickass Stoplight T-Shirt, or 6 months of free Stoplight Hosted Docs?</h3>

      <br />

      <div>
        <i>Get 5 of your friends to sign up with this unique URL:</i>
        <br />
        <div class='register-beta_url'>${_.get(referralData, "url")}</div>
      </div>

      <div>
        <a
          :href='"https://twitter.com/home?status=Just%20signed%20up%20for%20%40Stoplightio%20%23Scenarios beta!%20Check%20it%20out%20"+_.get(referralData, "url")'
          target='_blank'
          class='register-beta_button twitter'
        >
          <i class='fa fa-twitter'></i> Share
        </a>
        <a
          :href='"mailto:someone@example.com?Subject=Check%20out%20the%20Stoplight%20Scenarios%20beta!&body="+_.get(referralData, "url")'
          target='_blank'
          class='register-beta_button email'
        >
          <i class='fa fa-paper-plane'></i> Email
        </a>
      </div>
    </div>
    <div v-else>
      <h3>Register For The Beta</h3>

      <div class='register-beta-form'>
        <input
          class='register-beta-input'
          type='email'
          placeholder='me@myco.com'
          v-model='betaEmail'
          :disabled='submitting'
        />

        <button class='btn register-beta-button' @click='addToBeta' :disabled='submitting'>
          <span v-if='submitting'>Working...</span>
          <span v-else>Let Me In!</span>
        </button>
      </div>
      <div class='register-beta-error' v-if='error'>${error}</div>
      <div class='sub-text'>We hate spam just as much as you, and will respect your email.</div>
    </div>
  </div>
</section>


  <div class='timeline scenarios'>
    <div class='timeline-content f jc-c hidden-xs'>
      <div class='f-1 timeline-left'>
        <timeline-left class='timeline-left-block ta-r' v-for='info in left' :info='info'></timeline-left>
      </div>
      <div class='f-1 timeline-right'>
        <timeline-right class='timeline-right-block ta-l' v-for='info in right' :info='info'></timeline-right>
      </div>
    </div>

    <div class='timeline-content visible-xs'>
      <div class='timeline-block' v-for='info in mobile'>
        <div class='timeline-title'>${info.title}</div>
        <div class='f fw-w'>
          <div class='timeline-feature f-1' v-for='feature in info.features'>
            <div class='timeline-feature-info'>
              <div class='timeline-feature-title'>${feature.title}</div>
              <div class='timeline-feature-message'>${feature.message}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class='page-section register-beta'>
  <div class='container ta-c'>
    <div class='register-beta-success' v-if='submitted'>
      <h5>Thanks for signing up for Stoplight Scenarios!</h5>

      <h3>Want your choice of a kickass Stoplight T-Shirt, or 6 months of free Stoplight Hosted Docs?</h3>

      <br />

      <div>
        <i>Get 5 of your friends to sign up with this unique URL:</i>
        <br />
        <div class='register-beta_url'>${_.get(referralData, "url")}</div>
      </div>

      <div>
        <a
          :href='"https://twitter.com/home?status=Just%20signed%20up%20for%20%40Stoplightio%20%23Scenarios beta!%20Check%20it%20out%20"+_.get(referralData, "url")'
          target='_blank'
          class='register-beta_button twitter'
        >
          <i class='fa fa-twitter'></i> Share
        </a>
        <a
          :href='"mailto:someone@example.com?Subject=Check%20out%20the%20Stoplight%20Scenarios%20beta!&body="+_.get(referralData, "url")'
          target='_blank'
          class='register-beta_button email'
        >
          <i class='fa fa-paper-plane'></i> Email
        </a>
      </div>
    </div>
    <div v-else>
      <h3>Register For The Beta</h3>

      <div class='register-beta-form'>
        <input
          class='register-beta-input'
          type='email'
          placeholder='me@myco.com'
          v-model='betaEmail'
          :disabled='submitting'
        />

        <button class='btn register-beta-button' @click='addToBeta' :disabled='submitting'>
          <span v-if='submitting'>Working...</span>
          <span v-else>Let Me In!</span>
        </button>
      </div>
      <div class='register-beta-error' v-if='error'>${error}</div>
      <div class='sub-text'>We hate spam just as much as you, and will respect your email.</div>
    </div>
  </div>
</section>

</div>


    <footer class='site-footer'>
  <div class='container'>
    <div class='row site-footer-content'>
      <a href='/' class='site-footer-brand'>
        <img src='/assets/img/logo_dark_bg.png' alt='StopLight' width='108' height='27'/>
      </a>

      <a href='http://techstars.com' class='site-footer-ts' target='_blank'>
        <img src='/assets/img/techstars.png' alt='Techstars' width='55' />
      </a>

      <div class='site-footer-links'>
        <ul class='list-inline'>
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            <a href='https://blog.stoplight.io' target='_blank'>Blog</a>
          </li>
          <li>
            <a href='http://press.stoplight.io'>Press</a>
          </li>
          <li>
            <a href='https://help.stoplight.io' target='_blank'>Docs</a>
          </li>
          <li>
            <a href='http://status.stoplight.io' target='_blank'>Status</a>
          </li>
          <li>
            <a href='https://app.stoplight.io/login' data-medium='footer' target='_blank'>Login</a>
          </li>
          <li>
            <a href='https://app.stoplight.io/register' data-medium='footer' target='_blank'>Register</a>
          </li>
        </ul>

        <ul class='list-inline'>
          <li><a href='mailto:support@stoplight.io'>support@stoplight.io</a></li>
          <li>
            <a href='https://twitter.com/stoplightio' target='_blank'>
              <i class='fa fa-twitter'></i> @stoplightio
            </a>
          </li>
          <li>
            <a href='/terms'>Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


    <script src="/assets/js/app.js?v=1477928920"></script>
    <script>
      window.intercomSettings = {
        app_id: 'o6celly6'
      };
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/o6celly6';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
    </script>
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        analytics.load('u5wROFQLQrgirhiXnEjdatXN7dbE9vNP');
        analytics.page()
      }}();
    </script>
  </body>

</html>
